$bordenav: rgb(207, 35, 170);

.menu{
    width: 100%;
    font-size: 30px;
    text-align: center;  
    ul{
        li{
            border: solid 3px $bordenav;
            border-radius: 6px;
            width: 150px;
            margin: 5px;
            &:hover{
                border: dotted;
                color: $bordenav;
            }
        }
    }
}
